.app {
  text-align: center;
  margin-top: 1rem;
}

.app__form {
  padding: 20px;
  position: fixed;
  left: 1rem;
  right: 1rem;
  bottom: 20px;
  z-index: 1;
  background-color: #e9e9eb;
}

.app__formControl {
  display: flex !important;
  flex-direction: row !important;
}

.app__input {
  flex: 1;
}

.app__iconButton {
  width: 30px;
}
